.cards {
	display: flex;
	/* grid-template-columns: 3fr 1fr; */
	justify-content: flex-start;
}
.cards .card {
	width: 300px;
	height: auto;
	margin: auto;
	margin-top: 20px;
	text-align: center;
	border: 1px solid black;
}

.cards .card img {
	vertical-align: middle;
	width: 100%;
	border-bottom: 1px solid black;
}

.card button {
	padding: 5px;
	color: rgb(0, 0, 0);
	background-color: #7bf3fcd5;
	text-align: center;
	cursor: pointer;
	width: 50%;
	font-size: 20px;
	border-radius: 5px;
}

.card button:hover {
	color: black;
	border: 1px solid gray;
	background-color: #54d9e2;
}
