.shop-container {
	padding: 20px;
}
.cart-container {
	text-align: center;
	margin: 20px;

	border-bottom: 1px solid black;
}
.cart-container h2 {
	color: red;
	font-weight: bold;
}
.product-container {
	border-right: 1px solid black;
}
.product-container h2 {
	text-align: center;
}
