/* .product {
	display: flex;

	border: 1px solid gray;
	margin: 10px;
	background-color: #fff;

	border-radius: 10px;
}
.image {
	width: 300px;
	height: 300px;
}
.image img {
	width: 100%;
}
.btn-regilar{
    background-color: aqua;
    width: 150px;
    height: 30px;
    border: 1px solid aquamarine;
    border-radius: 5px;
    cursor: pointer;
} */




.product {
	display: flex;
	border: 1px solid rgb(73, 224, 230);
	margin: 10px;
	background-color: rgba(79, 97, 97, 0.09);
	border-radius: 10px;
}
.product-img {
	width: 300px;
	height: 300px;
}
.product-img img {
	width: 100%;
}
.product-name {
	color: rgb(123, 8, 218);
	font-weight: 400;
}
.btn-regular {
	background-color: rgb(117, 209, 189);
	width: 150px;
	height: 30px;
	border: 1px solid lightgray;
	border-radius: 5px;
	cursor: pointer;
}
.btn-regular:hover {
	background-color: rgb(40, 219, 180);
	border: 1px solid black;
}
